<!--<form (submit)="onSubmit(approvalform)"  #approvalform='ngForm'  [formGroup]="productApprovalForm"  >
  <div class="modal-header">
    <h4 class="modal-title">Product Approval</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input type="hidden" #productId="ngModel" [(ngModel)]="productApprovalModel.productId" name="productId" />
      <label>Choose Status</label>
      <select (change)="onChange($event)" #approvalStatus="ngModel" [(ngModel)]="productApprovalModel.approvalStatus" name="approvalStatus" class="form-control">
        <option value="1"> Approve</option>
        <option value="2">Reject </option>
      </select>
    </div>
    <div class="form-group" *ngIf="selectedType == '2'">
      <label>Rejection Reason</label>
      <textarea cols="2" rows="2" class="form-control" #rejectionReason="ngModel" [(ngModel)]="productApprovalModel.rejectionReason" name="rejectionReason" ngModel required></textarea>
    </div>-->

    <!--<pre>{{approvalform.value | json}}</pre>-->
    <!--</div>
    <div class="modal-footer">
      <button class="btn btn-outline-success" type="submit">Submit</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.hide()">Close</button>
    </div>
</form>-->


<form (ngSubmit)="onSubmit()"  [formGroup]="productApprovalForm">
  <div class="modal-header">
    <h4 class="modal-title">Product Approval</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input type="hidden" formControlName="productId"  />
      <label>Choose Status</label>
      <select (change)="onChange($event)"  formControlName="approvalStatus" name="approvalStatus" class="form-control">
        <option value=1> Approve</option>
        <option value=2>Reject </option>
      </select>
    </div>
    <div class="form-group" *ngIf="selectedType == '2'">
      <label>Rejection Reason <span class="text-danger"
      *ngIf="productApprovalForm.get('rejectionReasonId').errors &&
            productApprovalForm.get('rejectionReasonId').hasError('required')">*</span></label>
      <!-- <textarea cols="2" rows="2" class="form-control" formControlName="rejectionReason" name="rejectionReason" [class.valid]="productApprovalForm.get('rejectionReason').valid && 
        (productApprovalForm.get('rejectionReason').dirty || formGroup.get('rejectionReason').touched)"
    [class.invalid]="productApprovalForm.get('rejectionReason').invalid && 
        (productApprovalForm.get('rejectionReason').dirty || productApprovalForm.get('rejectionReason').touched)" ></textarea> -->
        <!-- <div *ngFor="let y of (rejectionReasons)">{{y.name}}</div> -->

        <select formControlName="rejectionReasonId" name="rejectionReasonId" class="form-control"
        >
       <option value="0">Select Reason</option>
          <option *ngFor="let x of rejectionReasons" [value]="x.reasonId"  >{{x.name}}</option>
        </select>

        <div *ngIf="rejectionReasonId.invalid && (rejectionReasonId.dirty || rejectionReasonId.touched)"
    class="alert alert-danger">

  
</div>
    </div>
     
    <div class=" row" >
    <div class="img  form-group  col-sm-4" *ngFor="let image of (productImages)"><img src="{{image.imagePath}}" class="img-thumbnail img-responsive img-defer" alt="..."></div>
  </div>
    <!--<pre>{{approvalform.value | json}}</pre>-->
    </div>
  <div class="modal-footer">
    <!--[disabled]="productApprovalForm.invalid"-->
    <input type="submit" class="btn btn-outline-success" value="Submit" />
    <!--<button class="btn btn-outline-success" type="submit">Submit</button>-->
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.hide()">Close</button>
  </div>
    </form>
