
<style>
  #toast-container > div {
    opacity: 1;
  }
</style>
<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> All Reported Users
        </div>
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>User</th>
                <th>Reported By</th>
                <th>Reason</th>
                <th>Created By</th>
                <th>Created On</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of (reportedUsers)">
                <td>{{user.reportedUser}}</td>
                <td>{{user.reportedBy}}</td>
                <td>{{user.reason}}</td>
                <td>{{user.createdBy}}</td>
                <td>{{user.created | date  }}</td>
                <!--<td>
                  <span class="badge {{user.status == true ? 'badge-success' : 'badge-danger'}}">{{user.status == true ? 'Active' : 'In-Active'}}</span>
                </td>-->
                <td>
                  <form [formGroup]="reportedUserForm">
                    <input type="hidden" formControlName="userId" name="userId" value="user.userId" />
                    <div class="custom-control custom-switch" title="Block/Unblock users">

                      <input class="custom-control-input" id="status{{user.userId}}" name="status{{user.userId}}" type="checkbox" (click)="manageReportedusers(user.userId,$event.target.checked)" [checked]="user.status">
                      <label class="custom-control-label" for="status{{user.userId}}">{{user.status == true ? 'Block' : 'Unblock' }} user</label>
                    </div>

                  </form>

                </td>
              </tr>

            </tbody>
          </table>

          <!--<nav>

            <div class="">
              <jw-pagination [items]="reportedUsers" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
          </nav>-->
        </div>
      </div>
    </div>
  </div>


</div>
