<style>
  .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
</style>
<div class="animated fadeIn">
 

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> All Products
        </div>
        <div class="card-body">
          <table class="table  row-border hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Color</th>
                <th>Product Owner</th>
                <th>Created On</th>
                <th>Approval Status</th>
                <!--<th>Status</th>-->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of (products)">
              
                <td title="{{product.description}}">{{product.title}}</td>
                <td>{{product.price}}</td>
                <td>{{product.category}}</td>
                <td>{{product.subCategory}}</td>
                <td style="text-align: center" ><span class="dot" [style.background-color]="product.color"></span></td>
                <td>{{product.addedBy}}</td>
                <td>{{product.created | date}}</td>
                <td title="{{product.approvalStatus == 'Rejected' ?  product.rejectionReason : ''}}">{{product.approvalStatus}}</td>
                <!--<td>
                  <span class="badge {{product.isActive == true ? 'badge-success' : 'badge-danger'}}">{{product.isActive == true ? 'Active' : 'In-Active'}}</span>
                </td>-->
                <td>
                  <button class="btn-sm {{product.approvalStatus == 'Rejected' || product.approvalStatus == 'Pending' ? 'btn-success' : 'btn-danger'}}" (click)="showPopup(product.id, product.approvalStatus,product.rejectionReasonId)"><i class="fa {{product.approvalStatus == 'Rejected' || product.approvalStatus == 'Pending' ? 'fa-check-circle' : 'fa-times-circle'}}"> {{product.approvalStatus == 'Rejected' || product.approvalStatus == 'Pending' ? ' Approve' : ' Reject'}}</i></button>
                  
  <button class="btn-sm btn-danger" (click)="showPopup(product.id, product.approvalStatus, product.rejectionReasonId )" *ngIf="product.approvalStatus == 'Pending'"><i class="fa fa-times-circle">Reject</i></button>
                </td>
              </tr>
           
            </tbody>
          </table>
          <!--<nav>

            <div class="">
              <jw-pagination [items]="products" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
          </nav>-->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

  <!--/.row-->
</div>
