

<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> All Reported items
        </div>
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>Title</th>
                <!--<th>Category</th>-->
                <th>Reported By</th>
                <th>Reason</th>
                <th>Product Owner</th>
                <th>Created On</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of (reportedItems)">
                <td>{{item.productTitle}}</td>
                <!--<td>{{item.category}}</td>-->
                <td>{{item.reportedBy}}</td>
                <td>{{item.reason}}</td>
                <td>{{item.createdBy}}</td>
                <td>{{item.created | date }}</td>
                <!--<td>
                  <span class="badge {{item.status == true ? 'badge-success' : 'badge-danger'}}">{{item.status == true ? 'Active' : 'In-Active'}}</span>
                </td>-->
                <td>
                  <form [formGroup]="reportedItemForm">
                    <input type="hidden" formControlName="productId" name="productId" value="item.productId" />
                    <div class="custom-control custom-switch"  title="Block/Unblock Items">

                      <input class="custom-control-input" id="status{{item.productId}}" name="status{{item.productId}}" type="checkbox" (click)="manageReportedItems(item.productId,$event.target.checked)" [checked]="item.status">
                      <label class="custom-control-label" for="status{{item.productId}}">{{item.status == true ? 'Block' : 'Unblock' }} Item</label>
                    </div>
                    
                  </form>
                    
                </td>
              </tr>

            </tbody>
          </table>
          <!--<nav>

            <div class="">
              <jw-pagination [items]="reportedItems" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
          </nav>-->
        </div>
      </div>
    </div>
  </div>


</div>
