<div class="animated fadeIn">


  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Sub Categories
          <button type="button" class="pull-right btn btn-primary" (click)="openModal(0)">Add Sub Category</button>
        </div>
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let subCategory of (items)">
                <td title="{{subCategory.description}}">{{subCategory.name}}</td>

                <!--<td>{{subCategory.subCategoryReference == null ? 'N/A' : subCategory.subCategoryReference}}</td>-->
                <td>{{subCategory.category}}{{subCategory.subCategoryReference == null ? '' : ' (' +
                  subCategory.subCategoryReference + ')'}}</td>
                <td>{{subCategory.description }}</td>
                <td>
                  <span
                    class="badge {{subCategory.isActive == true ? 'badge-success' : 'badge-danger'}}">{{subCategory.isActive
                    == true ? 'Active' : 'In-Active'}}</span>
                </td>
                <td>
                  <button title="Update SubCategory" class="btn btn-sm btn-primary"
                    (click)="openModal(subCategory.id)"><i class="fa fa-pencil-square-o"></i></button>
                  <!--|
    <a href="#" title="Update SubCategory" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></a>-->
                </td>
              </tr>

            </tbody>
          </table>
          <!--<nav>

            <div class="">
              <jw-pagination [items]="items" (changePage)="onChangePage($event)" [pageSize]="5"></jw-pagination>
            </div>
          </nav>-->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>

  <!--/.row-->
</div>


<form [formGroup]="subCategoryForm" (ngSubmit)="manageSubCategory()">
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{isUpdate ? 'Update': 'Add'}} Sub Category</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="">
            <div class="form-group">
              <input type="hidden" formControlName="id" />
              <label>Category </label>
              <select class="form-select form-control" #category formControlName="categoryId" (change)="onChange($event)">
                <option>Select category</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
              </select>


            </div>


            <div class="form-group" *ngIf="selectedType == 'Product'">
              <label>
                Reference Category
                <span class="text-danger"
                  *ngIf="subCategoryForm.get('subCategoryReference').errors && subCategoryForm.get('subCategoryReference').hasError('required')">*
                </span>
              </label>
              <div class="form-check">
                <input class="form-check-input" id="exampleRadios1" type="radio" name="subCategoryReference"
                  (change)="checkIsSubCategoryAlreadyExits()"
                  formControlName="subCategoryReference" value="Men" ng-checked="(subCategoryReference == 'Men')" />
                <label class="form-check-label" for="exampleRadios1">Men</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" id="exampleRadios2" type="radio" name="subCategoryReference"
                (change)="checkIsSubCategoryAlreadyExits()"
                  formControlName="subCategoryReference" value="Women" ng-checked="(subCategoryReference == 'Women')">
                <label class="form-check-label" for="exampleRadios2">Women</label>
              </div>
            </div>
            <div class="form-group">
              <label>
                Sub Category <span class="text-danger" *ngIf="subCategoryForm.get('name').errors &&
            subCategoryForm.get('name').hasError('required')">*</span>
              </label>
              <input class="form-control" formControlName="name" name="name" placeholder="Enter sub category Name"
                (focusout)="checkIsSubCategoryAlreadyExits()" [class.valid]="subCategoryForm.get('name').valid &&
        (subCategoryForm.get('name').dirty || subCategoryForm.get('name').touched)" [class.invalid]="subCategoryForm.get('name').invalid &&
        (subCategoryForm.get('name').dirty || subCategoryForm.get('name').touched)" />

            </div>
            <div class="alert alert-danger" *ngIf="isSubCategoryExists">
              SubCategory already exists, please try other name.
            </div>

            <div class="form-group">
              <label>Description</label>
              <textarea rows="3" cols="1" class="form-control" name="description" formControlName="description"
                placeholder="Enter description"></textarea>
              <!--<input class="form-control" formControlName="name" name="name" placeholder="Enter sub category Name" />-->
            </div>

            <div class="form-check form-switch form-switch-lg">

              <input class="form-check-input" id="isActive" formControlName="isActive" name="isActive" type="checkbox">
              <label class="form-check-label" for="isActive">Active</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-outline-success" value="Submit" [disabled]="subCategoryForm.invalid || isSubCategoryExists || !(category.value > 0)" />
          <button type="button" class="btn btn-outline-dark" (click)="onCloseHandled()">Close</button>
        </div>
      </div>
    </div>
  </div>
</form>
