<div class="animated fadeIn">
  <div class="row" style="margin-top: 2%;">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <div class="text-value" *ngIf="widgetsData"> Users: {{widgetsData.widgetUserDto.totalUsers}}</div>
              <div class="text-value" *ngIf="widgetsData">Active Users: {{widgetsData.widgetUserDto.totalActiveUsers}}
              </div>
              <div class="text-value" *ngIf="widgetsData">InActive Users: {{widgetsData.widgetUserDto.inActiveUsers}}
              </div>
            </div>
            <div class="col-sm-4 button-icon">
              <button type="button" class="btn btn-transparent p-0 float-right">
                <i class="icon-user"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <div class="text-value" *ngIf="widgetsData">Products: {{widgetsData.widgetProductDto.totalProducts}}</div>
              <div class="text-value" *ngIf="widgetsData">Approved:
                {{widgetsData.widgetProductDto.totalApprovedProducts}}
                <div class="text-value" *ngIf="widgetsData">Rejected:
                  {{widgetsData.widgetProductDto.totalRejectedProducts}}
                </div>
                <div class="text-value" *ngIf="widgetsData">Pending Approval:
                  {{widgetsData.widgetProductDto.totalPendingProducts}}
                </div>
              </div>
            </div>
            <div class="col-sm-4 button-icon">
              <button type="button" class="btn btn-transparent p-0 float-right">
                <i class="icon-basket"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <div class="text-value" *ngIf="widgetsData">Orders: {{widgetsData.widgetOrderDto.totalOrders}}</div>
              <div class="text-value" *ngIf="widgetsData">Shipped: {{widgetsData.widgetOrderDto.totalShippedOrders}}
                <div class="text-value" *ngIf="widgetsData">Confirmed:
                  {{widgetsData.widgetOrderDto.totalConfirmedOrders}}
                </div>
                <div class="text-value" *ngIf="widgetsData">UnShipped:
                  {{widgetsData.widgetOrderDto.totalUnshippedOrders}}
                </div>
              </div>
            </div>
            <div class="col-sm-4 button-icon">
              <button type="button" class="btn btn-transparent p-0 float-right">
                <i class="icon-basket-loaded"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
