<!--<div class="animated fadeIn">-->



  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> All Categories
         
        </div>
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Status</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of (categories)">
                <td title="{{category.description}}">{{category.name}}</td>
                <td>{{category.description}}</td>
                <td>{{category.createdBy}}</td>
                <td>{{category.created | date }}</td>
                <td>
                  <span class="badge {{category.isActive == true ? 'badge-success' : 'badge-danger'}}">{{category.isActive == true ? 'Active' : 'In-Active'}}</span>
                </td>

              </tr>

            </tbody>
          </table>
          <!--<nav>

            <div class="">
              <jw-pagination [items]="categories" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
          </nav>-->
          <!--<nav>
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Prev</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>-->
        </div>
      </div>
    </div>
  </div>

  <!--<div class="card text-center m-3">
    <h3 class="card-header">Angular 10 Pagination Example</h3>
    <div class="card-body">
      <div *ngFor="let item of pageOfItems">{{item.name}}</div>
    </div>
    <div class="card-footer pb-0 pt-3">
      <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
  </div>-->




<!--<form  [formGroup]="subCategoryForm" (ngSubmit)="manageSubCategory()" >
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add/Update Sub Category</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="">
            <div class="form-group">
              <input type="hidden" formControlName="id" />
              <label>Category </label>
              <select class="form-select form-control" formControlName="categoryId" (change)="onChange($event)">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
              </select>


            </div>


            <div class="form-group" *ngIf="selectedType == 'Product'">
              <label>
                Reference Category <span class="text-danger"
                                         *ngIf="subCategoryForm.get('subCategoryReference').errors &&
            subCategoryForm.get('subCategoryReference').hasError('required')">*</span>
              </label>
              <div class="form-check">
                <input class="form-check-input" id="exampleRadios1" type="radio" name="subCategoryReference" formControlName="subCategoryReference" value="Men" ng-checked="(subCategoryReference == 'Men')" />
                <label class="form-check-label" for="exampleRadios1">Men</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" id="exampleRadios2" type="radio" name="subCategoryReference" formControlName="subCategoryReference" value="Women" ng-checked="(subCategoryReference == 'Women')">
                <label class="form-check-label" for="exampleRadios2">Women</label>
              </div>
            </div>
            <div class="form-group">
              <label>
                Sub Category <span class="text-danger"
                                   *ngIf="subCategoryForm.get('name').errors &&
            subCategoryForm.get('name').hasError('required')">*</span>
              </label>
              <input class="form-control" formControlName="name" name="name" placeholder="Enter sub category Name" (keyup)="checkIsSubCategoryAlreadyExits()" [class.valid]="subCategoryForm.get('name').valid &&
        (subCategoryForm.get('name').dirty || subCategoryForm.get('name').touched)"
                     [class.invalid]="subCategoryForm.get('name').invalid &&
        (subCategoryForm.get('name').dirty || subCategoryForm.get('name').touched)" />

            </div>
            <div class="alert alert-danger" *ngIf="isSubCategoryExists">
              SubCategory already exists, please try other name.
            </div>

            <div class="form-group">
              <label>Description</label>
              <textarea rows="3" cols="1" class="form-control" formControlName="description" placeholder="Enter description"></textarea>-->
              <!--<input class="form-control" formControlName="name" name="name" placeholder="Enter sub category Name" />-->
            <!--</div>

            <div class="form-check form-switch form-switch-lg">

              <input class="form-check-input" id="isActive" formControlName="isActive" name="isActive" type="checkbox">
              <label class="form-check-label" for="isActive">Active</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-outline-success" value="Submit" [disabled]="subCategoryForm.invalid" />
          <button type="button" class="btn btn-outline-dark" (click)="onCloseHandled()">Close</button>
        </div>
      </div>
    </div>
  </div>
  </form>-->

