<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Orders History
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3 row">
              <div class="col-xs-3 col-sm-auto">
                <input id="table-filtering-search" class="form-control" placeholder="Type here to search" type="text"
                  (keydown)="onSearchEvent($event)" [formControl]="searchCtrl" />
              </div>
            </div>
          </form>
          <table *ngIf="orders" class="table row-border hover">
            <thead>
              <tr>
                <th>Order Date</th>
                <th>Order Number</th>
                <th>Items Quantity</th>
                <th>Seller</th>
                <th>Buyer</th>
                <th>Order Amount</th>
                <th>Shipping Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of filteredOrders">
                <td>{{order.orderDate | date}}</td>
                <td>{{order.orderNumber}}</td>
                <td class="text-center">{{order.itemsQuantity}}</td>
                <td class="text-center">{{order.sellerUserName}}</td>
                <td class="text-center">{{order.buyerUserName}}</td>
                <td class="text-center">{{order.orderAmount}}</td>
                <td class="text-center">{{order.shippingStatus}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>