<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
                  <h1>Luxim Web Admin</h1>
                  <p class="text-muted">Sign In to your account</p>



                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input class="form-control" #UserName="ngModel" name="Email" [(ngModel)]="formModel.Email" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
                  </div>
                  <div class="alert alert-danger" *ngIf="loginError">
                    {{loginError}}
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4" [disabled]="form.invalid">Login</button>
                    </div>


                    <!--<div class="col-6 text-right">
      <button type="bu" class="btn btn-link px-0">Forgot password?</button>
    </div>-->
                  </div>

                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
