<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Sellers
        </div>
        <div class="card-body">
          <table *ngIf="sellers" datatable [dtOptions]="dtOptions" class="table row-border hover">
            <thead>
              <tr>
                <th>Seller Name</th>
                <th>Total Amount</th>
                <th>Luxim Commission</th>
                <th>Luxim Processing Fee</th>
                <th>Total Amount Received</th>
                <th>Total Amount Pending</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let seller of sellers">
                <td><a [routerLink]="" (click)="redirectToSellerOrders(seller.sellerId)">{{seller.sellerName}}</a></td>
                <td>{{seller.totalOrdersAmount}}</td>
                <td>{{seller.totalLuximCommissions}}</td>
                <td>{{seller.totalProcessingFees}}</td>
                <td>{{seller.totalAmountsReceived}}</td>
                <td>{{seller.totalAmountsPending}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
