<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> {{sellerDetails?.name}} Details
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <h5>Personal Details</h5>
              <div class="detail">
                <span class="title">Username: </span>
                <span class="title-value">{{sellerDetails?.userName}}</span>
              </div>

              <div class="detail">
                <span class="title">Email: </span>
                <span class="title-value">{{sellerDetails?.email}}</span>
              </div>
            </div>
            <div class="col-sm-6">
              <h5>Bank Details</h5>
              <div class="detail">
                <span class="title">Bank: </span>
                <span class="title-value">{{sellerDetails?.bankDetails?.bankName}}</span>
              </div>

              <div class="detail">
                <span class="title">Account Title: </span>
                <span class="title-value">{{sellerDetails?.bankDetails?.accountTitle}}</span>
              </div>

              <div class="detail">
                <span class="title">Account#: </span>
                <span class="title-value">{{sellerDetails?.bankDetails?.accountNumber}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Orders
        </div>
        <div class="card-body">
          <table *ngIf="sellerOrders" datatable [dtOptions]="dtOptions" class="table row-border hover">
            <thead>
              <tr>
                <th>Order Number</th>
                <th>Total Amount</th>
                <th>Luxim Commission</th>
                <th>Luxim Processing Fee</th>
                <th>Amount To be paid</th>
                <th>Payment Status</th>
                <th>Shipment Status</th>
                <th colspan="4">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of sellerOrders">
                <td class="text-center">{{order.orderNumber}}</td>
                <td class="text-center">{{order.orderAmount}}</td>
                <td class="text-center">{{order.luximCommission}}</td>
                <td class="text-center">{{order.luximProcessingFee}}</td>
                <td class="text-center">{{order.amountToBePaid}}</td>
                <td class="text-center">{{order.payoutStatusText}}</td>
                <td class="text-center">{{order.shipmentStatusText}}</td>

                <td width="15%">
                  <button class="btn btn-success btn-sm" [disabled]="shouldTrackShipmentBeEnabled(order)"
                    (click)="trackShipment(order.trackingId)" title="Track Shipment"><i
                      class="fa fa-truck"></i></button>
                  |
                  <button class="btn btn-success btn-sm" (click)="payoutToSeller(order.orderId)"
                    [disabled]="shouldPayoutBeEnabled(order)" title="Payout to Seller"><i
                      class="fa fa-money"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
